POSTGRES_DB=curateds
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
CATALOG_DB_CONNECTION=Host=localhost;Port=5432;Database=curateds;Username=postgres;Password=postgres
VITE_API_BASE_URL=http://localhost:8080
SEQ_INTERNAL_URL=http://catalog-seq:5341
